*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
}
html,body{
    width: 100%;
    min-height: 100%;
}
.logo{
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.main-sec{
    display: flex;
    align-items: center;
}
.main-sec img{
    margin: 20px 20px 20px 60px;
}
.main-sec img:hover{
    transform: scale(1.01);
    transition-duration: 0.9s;
}   
.main-contect{
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 30px;
}
.main-contect h2{
    padding: 5px 20px;
    align-self: flex-start;
    background-color: rgb(63, 132, 63);

    &:hover{
        color: white;
        border-radius: 10px;
        transition-duration: 0.5s;
    }
}
.main-contect h1{
    font-size: 65px;
}
.main-contect button{
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    background-color: yellowgreen;
    align-self: flex-start;
}
.features{
    margin: 10px 30px;
    padding: 10px; 
    display: flex;
    gap: 20px;
}
.feature{
    display: flex;
    gap: 30px;

    &:hover{
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgb(149, 153, 140);
    }
}
.feature-content{
    display: flex;
    flex-direction: column;
}
.feature-content h2{
    text-align: left;
    margin-bottom: 5px;
}
.menu{
    display: flex;
    justify-content: center;
}
.menu button{
    margin: 40px;
    font-size: 25px;
    padding: 5px 20px;
    align-self: flex-start;
    background-color: rgb(63, 132, 63);

    &:hover{
        color: white;
        border-radius: 10px;
        transition-duration: 0.5s;
    }
}
h2{
    text-align: center;
}
.grid-items{
    margin: 30px 50px;
    display: grid;
    grid-template-areas: 
    'grid1 grid1 grid2 grid3'
    'grid1 grid1 grid2 grid7'
    'grid5 grid6 grid4 grid7';
    grid-gap: 10px;
}
.grid-items img{
    height: 100%;
    width: 100%;
}
#images{
    border-radius: 10px;
    transition-duration: 0.2s;
    &:hover{
        transform: scale(1.02);
    }
}
.grid_image1{
    grid-area: grid1;
}
.grid_image2{
    grid-area: grid2;
}
.grid_image3{
    grid-area: grid3;
}
.grid_image4{
    grid-area: grid4;
}
.grid_image5{
    grid-area: grid5;
}
.grid-image6{
    grid-area: grid6;
}
.grid_image7{
    grid-area: grid7;
}
.footer{
    padding: 30px;
    background-color: goldenrod;
    display: flex;
    justify-content: space-around;
}
.footer img{
    width: 150px;
    height: 100px;
}
.main-link h3{
    margin: 10px auto;
}
.main-link li{
    list-style-type: none;
    line-height: 24px;
}
.support h3{
    margin: 10px auto;
}
.support li{
    list-style-type: none;
    line-height: 24px;
}
.last_box{
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.email input[type='email']{
    margin-top: 5px;
    width: 150px;
}   
.follow_us{
    margin-top: 20px;
}
@media (max-width : 786px){
    .main-sec{
        flex-direction: column;
    }
    .main-sec img{
        width: 80%;
        margin: 40px auto;
    }
    .main-contect{
        padding: 20px;
    }
    .features{
        flex-direction: column;
    }
    .feature{
        flex-direction: column;
    }
    .footer{
        flex-direction: column;
    }
} 